.navbarPag4{
    display: grid;
    grid-template-columns: 30% 70%;
}
.FormNav{
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.CampoBuscar{
    height: 30px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 5px;
}

.BotonBuscar{
    height: 30px;
    width: 60px;
    background-color: #E64848;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

/** Lista destacados **/
.ListaDestacados {
    padding: 10px;
    display: grid;
    justify-content: center;
    row-gap: 20px;
}

.ElementoDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(102, 68, 0, 0.3);
}

.InfoComercio {
}

.ImagenComercio {
    border-radius: 20px 0 0 20px;
}

.TituloComercio {
    font-size: 20px;
}

.TextoEnvio {
    font-size: 18px;
}

.TextoUbicacion {
    font-size: 16px;
}

.TextoHorario {
    font-size: 16px;
}

.DivInformacion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.TituloElementosDestacados {
    text-align: center;
    margin: 15px;
}

.InfoPiePagina{
    display: none;
}


@media (min-width: 1200px) {
    .navbarPag4{
        display: block;
    }
    .FormNav{
        text-align: left;
        margin-left: 20px;
    }

    .ListaDestacados {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 30px;
        margin: 40px;
    }
    
    .ElementoDestacados {
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;
        justify-content: center;
    }
    .ImagenComercio{
        width: 100%;
        height: auto;
        border-radius: 20px 20px 20px 20px;
    }
    .InfoComercio{
        margin-left: 10px;
    }
    
    .CampoBuscar{
        width: 250px;
        font-size: 18px;
    }
    
    .BotonBuscar{
        width: 70px;
        font-size: 18px;
    }

    .InfoPiePagina{
        display: block;
    }

}